{
  "videoUrl": "http://path.to.media/video.mp4",
  "frameStore": "http://example.com/180/2015/05/23/21/$minute/$second/$frame.jpg",
  "appId": "your.app.id",
  "msvName": "your.msv.name",
  "discoveryIp": "IP address of TV",
  "discoveryPort": "Port of TV",
  "clipsApiEndpoint": "http://example.com/api",
  "mediaStoreUrlTemplate": "http://cdn.example.com/$mediaPath?k=XXX"
}
