{
 "clipsApiEndpoint": "http://192.168.1.10:5001",
 "mediaStoreUrlTemplate": "http://192.168.1.10:17901/$mediaPath?k=12345",
 "frameStoreTemplate": "http://192.168.1.10:17901/$size/$year/$month/$date/$hour/$min/$sec/$frame.gif?k=12345",
 "discoveryIp": "192.168.1.10",
 "discoveryPort": "5000"
}

