
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
  All views are direct decendents of
  the .container.
  Only one view should be visible at
  a time so they stack on top of each
  other.
*/
.container {
  position: relative;

  /* Fix to Nexus 7 (2013) CSS resolution */
  width: 960px;
  height: 540px;
}

.container > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
