.centered-view.is-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.centered-view.is-inactive {
  display: none;
}

.centered-view-inner {
  display: block;
}

.centered-view-icon {
  width: 50px;
  fill: #999;
}

.centered-view-icon,
.centered-view-message {
  display: inline-block;
  font-size: 2rem;
  color: #999;
}
