/*
  Clip preview view
*/
.clip-preview {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: black;
    opacity: 1.0;
    z-index:1002;
    overflow: auto;
    text-align:center;
}

.clip-preview .hidden {
  display:none;
}

.clip-preview .imageloader {
  display: block;
}

.clip-preview img {
  width: 75%;
}

.clip-preview video {
  width: 100%;
}

.clip-preview input {
  padding-left: 10px;
  padding-bottom: 0px;
}

.clip-preview textarea {
  padding: 5px;
  font-size:2em;
}
