.editor {

}

.editor.is-dragging {
  outline: 10px solid rgba(255, 0, 0, 0.5);
}

.editor-touch-container {
  border: 1px solid green;
}

.editor-slider-container {
  height: 50px;
  border: 1px solid blue;
}

.editor-slider-container > * {
  width: 100%;
}


.editor-frame-container img {
  width: 100%;
}

.editor-slider-track {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.editor-slider-selection {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.editor-slider-selection-touch-pane {
  width: 100%;
  height: 100%;
}
