body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
  All views are direct decendents of
  the .container.
  Only one view should be visible at
  a time so they stack on top of each
  other.
*/
.container {
  position: relative;

  /* Fix to Nexus 7 (2013) CSS resolution */
  width: 960px;
  height: 600px;
}

.container > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.centered-view.is-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.centered-view.is-inactive {
  display: none;
}

.centered-view-inner {
  display: block;
}

.centered-view-icon {
  width: 50px;
  fill: #999;
}

.centered-view-icon,
.centered-view-message {
  display: inline-block;
  font-size: 2rem;
  color: #999;
}
/*
  Generic loader/spinner animation
*/
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
          animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: block;
  position: relative;
  font-size: 10px;
  /*margin: 80px auto;*/
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ddd;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ddd;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ddd;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ddd;
  }
}
/*
  Fade in image when imageloader completes
*/
.imageloader img {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.imageloader.pre-image-load img {
  opacity: 0;
}
.grid-hd {
  position: absolute;
  top : 0.5rem;
  left: 0.5rem;

  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 0 5px #333;
}

.grid-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; /* or inline-flex */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  display: inline-block;
  width: 320px;
  height: 180px;

  -webkit-box-flex: 0;

  -webkit-flex-grow: 0;

      -ms-flex-positive: 0;

          flex-grow: 0;

  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.grid-item-live video {
  width: 100%;
  height: 100%;
}
.live-tile {
  position: relative;
  background-color: #000;
}

.live-tile-icon {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0.2rem 0.3rem;
  margin: 0.5rem;

  color: #fff;
  background-color: #f00;

  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;

  text-transform: uppercase;
}

.live-tile-icon:after {
  content: 'LIVE';
}
.device-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  position: absolute;
  top: 3rem;
  right: 3rem;
  left: 3rem;
  bottom: 3rem;

  margin: 0;
  padding: 0;
}

.device-list-hd {
  font-weight: normal;
}

.device-list-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;

  list-style: none;
  margin: 0;
  padding: 0;
}

.device-list-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #666;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;

  text-align: center;
}

.device-list-item:hover {
  background-color: #eee;
}
/*
  Clip preview view
*/
.clip-preview {
}

.clip-preview-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  text-align: right;
}

.clip-preview-close-button {
  display: inline-block;
  width: 50px;
  margin: 10px;
  background: none;
  border: none;
}

.clip-preview-close-button:hover path {
  fill: rgba(255, 255, 255, 0.7);
}

.clip-preview .imageloader {
  display: block;
}

.clip-preview img,
.clip-preview video {
  width: 100%;
}
/*
  Defines CSS transitions triggers when the Container
  component mounts a new view
*/

.view-enter {
  opacity: 0.01;
}

.view-enter.view-enter-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
}

.view-leave {
  opacity: 1;
}

.view-leave.view-leave-active {
  opacity: 0.01;
  -webkit-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
}
.editor {

}

.editor.is-dragging {
  outline: 10px solid rgba(255, 0, 0, 0.5);
}

.editor-touch-container {
  border: 1px solid green;
}

.editor-slider-container {
  height: 50px;
  border: 1px solid blue;
}

.editor-slider-container > * {
  width: 100%;
}


.editor-frame-container img {
  width: 100%;
}

.editor-slider-track {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.editor-slider-selection {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.editor-slider-selection-touch-pane {
  width: 100%;
  height: 100%;
}
